# app and log configuration
APP_NAME=
DEBUG=
LOG_LEVEL=
# database configuration
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=
DATABASE_PORT=
REAL_DATABASE_URL=
# connect to postgres via pgbouncer connection pooler
DATABASE_URL=
# connection pooling configuration
DB_POOL_SIZE=
DB_MAX_OVERFLOW=
DB_POOL_TIMEOUT=
DB_POOL_RECYCLE=
DB_POOL_PRE_PING=
# Auth config
SECRET_KEY=